* {
    box-sizing: border-box;
}
header, footer {
    background-color: lightgray;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

h1 {
    margin: 0;
}

.menu {
    background-color: black;
    padding: 15px 5px;
    width: 200px;
}

a {
    color: lightblue;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 15px 0;
    cursor: pointer;
}

a:hover {
    color: black;
    background-color: lightblue;
}

.content {
    background-color: lightblue;
    padding: 5px;
    width: calc(100% - 482px);
}

.content p {
    font-weight: bold;
    text-align: justify;
}

aside {
    background-color: black;
    padding: 1px;
    width: 282px;
}

figure {
    margin: 15px;
    width: max-content;
    margin: 10px auto;
}

img {
    width: 250px;
}

figcaption {
    color: lightblue;
    font-weight: bold;
    text-align: center;
    display: block;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 600px) and (max-width: 1000px) {
    header {
        order: 1;
    }
    
    .content {
        order: 2;
        width: 100%;
    }

    .menu {
        order: 3;
        width: 50%;
    }

    aside {
        order: 4;
        width: 50%;
    }

    footer {
        order: 5; 
    }
}

@media (max-width: 599px) {
    header {
        order: 1;
    }
    
    .content {
        order: 2;
        width: 100%;
    }

    .menu {
        order: 3;
        width: 100%;
    }

    aside {
        order: 4;
        width: 100%;
    }

    footer {
        order: 5;
    }
}