* {
    box-sizing: border-box;
    flex-wrap: wrap;
}

.container {
    min-width: 100%;
    display: flex;
}

.block1 {
    min-width: 100%; 
}

.logo {
    width: 50%; 
    float: left;
    
}

.logo p {
    margin: 5px;
    font-size: 27px;
    color: rgb(182, 233, 233);
}

.authentification {   
    margin: 5px; 
    text-align: right;
    font-size: 0;
    float: right;
}

button {
    border: none;
    height: 30px;
    color: rgba(27, 97, 111, 1);
    background-color:rgb(182, 233, 233);
    cursor: pointer;
}

button:hover {
    background-color:rgb(175, 226, 226);
    transition: .2s;
}

button:first-of-type {    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

button:last-of-type {
    border-left: 1px solid rgba(27, 97, 111, 1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
}

header, footer {
    background-color: rgba(27, 97, 111, 1);
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0;
    min-width: 100%;
}

h1 {
    font-weight: lighter;
    margin: 0px;
}

nav a {
    width: 16.66%;
    font-size: 15px;
    text-decoration: none;
    color: black;
    background-color:rgb(182, 233, 233);
    display: inline-block;
    padding: 7px 0px;
    text-align: center;
    border-left: 1px solid white;    
}

a:first-of-type {    
    border-left: none;
}

 nav {
    width: 100%;
    background-color:rgb(182, 233, 233);
    font-size: 0;
    padding: 5px;
    margin-top: 10px;
 }

nav a:hover {
    background-color:rgb(175, 226, 226);
    transition: .2s;
}

aside {
    max-width: 300px;
}

h2 {
    color: rgb(24, 98, 112); 
    font-weight: lighter;
    text-align: center;
    margin: 0;
}

.two h2 {
    max-width: 150px;
    margin: 10px auto;
}

.banner {
    background-image: url(images/bannerimg.jpg);
    padding: 1px;
    max-width: 250px;
    padding: 20px;
    margin: 10px 0px;
}

.banner a {
    text-decoration: none;
    color: rgb(24, 98, 112); 
    font-family: sans-serif;
    letter-spacing: -1px;
    border: 2px solid rgb(24, 98, 112);
    margin: 25px 0;
    padding: 5px 20px; 
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color:rgb(182, 233, 233, .7);
}

.one {
    background-size: 350px;
}

.two {
    background-size: 600px;
    background-position: -250px -65px;
}

.two p {
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    max-width: 210px;
    margin: 0px auto;
}

.three {
    background-size: 250px;
    background-position: center;
}

.four, .five {
    display: inline-block;
    width: 120px;
    margin: 0 5px 0 0;
    padding: 10;
    background-size: 250px;
    background-position: 0px 130px;
}

.six {
    background-size: 550px;
    background-position: -10px -290px;
}

section {
   max-width:calc(100% - 254px);
}

.part1, .part3 {
    background-color:rgb(182, 233, 233);
    margin: 10px 0;
}

.part2 {
    background-color:rgb(218, 240, 240);
    margin: 10px 0;
}

@media screen and (max-width: 563px) {
    nav a {
        width: 100%;
        border: none;
    }
    section {
        max-width:100%;
        order: 1;
    }
    aside {
        min-width: 100%;
        order: 2;
    }
    .banner {
        max-width: 100%;
        background-size: 600px;
        
    }
    .two {
        background-size: 700px;
        background-position: -170px -100px;
    }
    .four, .five {
        width: calc(50% - 5px);
        background-position: -20px -150px;
        margin: 0px;
    }
    .four {
        float: left;
        margin-right: 10px;
    }

    footer {
        order: 3;
    }
    .part3 {
        margin-bottom: 0;
    }
}

